.page-careers {
    .careers-list {
        list-style-type: square;
        color: rgba(#000, .1);

        li {
            margin-bottom: .5rem;

            > span {
                color: #000;
            }
        }
    }

    .career-copy-container {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .careers-link {
        margin-bottom: 3rem;

        @media(max-width: 1199px) {
            margin-top: 3rem;
            margin-left: 2rem;
        }
    }
}
