.page-contact {
    h3 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .form-group {
        label {
            display: none;
        }
    }

    @media (min-width: 0) {
        form {
            margin-top: 3rem;
        }
    }

    @media (min-width: 480px) {
        //
    }

    @media (min-width: 768px) {
        //
    }

    @media (min-width: 992px) {
        form {
            margin-top: 0;
        }
    }

    @media (min-width: 1200px) {
        //
    }
}
