@media (min-width: 0) {
    .page-home {
        background-image: url(../../img/background-test1.jpg);
        background-size: cover;
        background-position: center;

        padding: 0;
    }

    .top-copy,
    .bottom-copy {
        transform: rotate(-7deg);

        width: 80%;

        font-size: 20px;
    }

    .top-copy {
        margin-top: 14rem;
    }

    .bottom-copy {
        width: 600px;
        max-width: 100%;

        margin-top: 2rem;
        float: right;
        margin-bottom: 5rem;

        @media(max-width: 768px) {
            margin-left: 0;
        }
    }

    .contact-information-container-wrapper {
        //
    }

    .contact-information-container {
        font-size: 20px;

        margin-right: 3rem;
        margin-bottom: 7rem;
    }

    .img-tear {
        width: 115%;
        //width: 100%;

        margin-left: -4%;
    }
}

@media (min-width: 480px) {
    //
}

@media (min-width: 768px) {
    //
}

@media (min-width: 992px) {
    .top-copy,
    .bottom-copy {
        font-size: 30px;
    }

    .top-copy {
        margin-top: 10rem;
    }

    .bottom-copy {
        margin-right: 16rem;
    }

    .img-tear {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    //
}
