html,
body {
    height: 100%;

    font-family: "Courier", serif;
    font-size: 18px;
    color: rgba(#000, .65);
}

.wrapper {
    height: 100%;
}

.page {
    padding: 2rem 0;

    position: relative;

    overflow-x: hidden;

    &:not(.page-home) {
        &::after {
            content: "";

            background-image: url(../../img/important-stamp.png);
            background-position: 20% center;
            background-size: 300px;
            background-repeat: no-repeat;

            opacity: 0.1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }
    }
}

.copy-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.content-image {
    @media (max-width: 991px) {
        max-width: 100%;
    }
}

.large-list {
    td:first-child {
        font-size: 36px;
        font-weight: bolder;

        color: rgba(#000, .1);

        padding: .5rem 1.5rem .5rem;

        vertical-align: top;
    }

    td:last-child {
        vertical-align: middle;
    }
}

.heading {
    color: #008E95;
    margin-bottom: 2rem;
}

#image-link-footer {
    padding-right: 1em;
}