#footer {
    padding-top: 5rem;
    padding-bottom: 3rem;
    padding-right: 3rem;
    padding-left: 5rem;
    font-weight: 700;
    background-image: url(../../img/bottom-background.jpg);
    background-size: cover;
    display:flex;
    p {
	    height: 100%;
	    width: 49%;
	    display: inline-block;
	}
	.footer-logo {
		max-width: 63px;
	}
	a {
		text-decoration: none;
		font-size: 18px;
    	color: rgba(0, 0, 0, 0.65);
	}
}
