#menu-button {
    position: absolute;
    top: 2rem;
    right: 3rem;

    z-index: 1;

    display: inline-block;

    width: 75px;
    height: 75px;

    * {
        width: 110%;
    }

    &:hover {
        :first-child {
            display: none;
        }

        :last-child {
            display: block !important;
        }
    }
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 2;

    transform: translateY(-100%);

    transition: .5s transform ease-in-out;

    overflow: auto;

    #menu-close-button {
        position: absolute;
        top: 1rem;
        right: 1rem;

        color: #fff;
    }

    .inactive {
        pointer-events: none;
        cursor: default;
    }

    > * {
        min-height: 50%;
    }

    .top-section {
        background-color: #008E96;

        @media (min-width: 768px) {
            .menu-link-list {
                padding-top: 7rem;
            }
        }
    }

    .bottom-section {
        background: #017278 url(../img/menu-rip.jpg) no-repeat;
        background-size: contain;

        padding-top: 4rem;
    }

    h2 {
        color: #fff;
    }

    .menu-link {
        display: block;

        padding: .5rem 0 .5rem 4rem;

        color: rgba(#fff, .9);

        font-size: 20px;

        &.inactive {
            color: rgba(#fff, .6);
        }

        @media (max-width: 767px) {
            padding-left: 0;

            &:last-of-type {
                margin-bottom: 3rem;
            }
        }
    }

    .brand-logo {
        @media (max-width: 991px) {
            width: 135px;
        }
    }

    &.open {
        transform: translateY(0);
    }
}
