@media (min-width: 0) {
    #navbar {
        background-image: url(../../img/bg-navbar.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;

        height: 200px;

        .container-fluid,
        [class^=col-],
        .row {
            height: 100%;
        }

        .navbar-logo {
            height: 150px;

            margin-top: 10px;
        }

        .page-title {
            position: relative;
            top: 40%;

            width: 200px;
            max-width: 100%;

            margin: 0 auto;

            transform: rotate(-3deg) translateY(-50%);

            font-size: 20px;

            z-index: 2;

            pointer-events: none;
        }
    }
}

@media (min-width: 480px) {
    #navbar {
        .page-title {
            width: 400px;

            font-size: 24px;
        }
    }
}

@media (min-width: 768px) {
    #navbar {
        .page-title {
            width: auto;

            font-size: 26px;
        }
    }
}

@media (min-width: 992px) {
    #navbar {
        .page-title {
            font-size: 30px;
        }
    }
}

@media (min-width: 1200px) {
    //
}
